body{
    padding: 0;
    margin: 0;
    font-family: serif;
    font-size: large;
}
.portfolio__header{
    position:fixed;
    top: 0;
    width: 100%;
    height: 10%;
    display: flex;
    background-color: black;
    color: white;
}
.portfolio__header__nav__ul{
    margin:30px 20px 50px 650px;
    gap:55px;
    display: flex;
    list-style: none;
}
.portolio__header--logo{
    float: left;
    margin-left:10px ;
    margin-top : 4px;
}
.header__link {
    text-decoration: none;
    position: relative;
    color :white;
  }
.header__link:hover {
    text-decoration: underline;
    color:white;
}

.portfolio__section{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio__section1{
    height: 750px;
    width : 100%;
    flex-direction: column;
}
.main__section1__h1{
    display: block;
    color: black; 
    font-size: 80px;
    margin: 0;
}
.main__section1__p{
    display: block;
    color: black;
    margin: 0;
    padding-top: 20px ;
    font-size: 25px;
}
.portfolio__section2{
    flex-direction: row;
    height: 400px;
    width : 100%;
}
.main__section2__img{
    margin:0;
    padding-right : 50px; 
}
.main__section2__p{
    margin:0;
    padding-left : 70px; 
    line-height: 1.5em;
}
.portfolio__section3{
    flex-direction: column;
    height: 500px;
    width : 100%;
}
.main__section3__ul{
    list-style-type: circle;
    width: 100%;
}
.main__section3__ul li{ 
    display: inline-block;
    box-sizing: border-box;
    width: 32%;
    padding:5px;
}
.portfolio__section4{
    flex-direction: column;
    width : 100%;
}
.main__section4--project1{
    padding: 45px;
    flex-direction: row;
    border: 2px;
    border: 2px solid rgb(225, 234, 238);
    border-radius: 9px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
    margin-bottom: 70px;
    margin-top: 25px;
}
.main__section4--project1__img{
    margin-right: 100px;
    width:450px;
    height: 400px;
}
.main__section4--project1__p{
    margin-left: 30px;
    width:100%;
}
.github-icon{
    margin: 20px 120px;
    color:black;
    font-size:30px;
}
.main__section4--project3__img{
    margin-right: 150px;
    width:250px;
    height: 400px;
}
.figma-icon{
    margin: 20px 80px;
    color:black;
    font-size:30px;
}
.main__section5--contactcollection{
    flex-direction: row;
    width : 100%;
}
.main__section5--contactitems{
    display: inline;
    color:black;
    margin: 10px 20px;
    font-size:30px;
    text-decoration: none;
}
.portfolio__footer{
    flex-direction: column;
}
.footer__logo{
    border-radius: 120px;
    height: 280px;
    width: 280px;
    margin-bottom: 30px;
    margin-top: 30px;
}
footer.portfolio__footer hr {
    border: none; /* Remove the default border */
    height: 1px; /* Set the height of the horizontal rule */
    background-color: #ccc; /* Set the background color of the horizontal rule */
    margin: 20px 0; /* Add some margin to create spacing around the horizontal rule */
  }
