::-webkit-scrollbar{
    background-color: #fff;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 7px;
}
body{
    padding: 0;
    margin: 0;
    font-family: serif;
    font-size: large;
    min-height: 100vh;
    background-color: black;
    color: white;
}
.portfolio__header{
    position:fixed;
    top: 0;
    width: 100%;
    height: 10%;
    display: flex;
    background-color: black;
    color: white;
}
.portfolio__header__nav__ul{
    margin:30px 20px 50px 600px;
    display: flex;
    list-style: none;

}
.portolio__header--logo{
    float: left;
    margin-left:10px ;
    margin-top : 4px;
}
.header__link {
    text-decoration: none;
    position: relative;
    color :white;
    padding: 0 10px;
    margin: 0 20px;
  }
.header__link::after{
    content: "";
    position: absolute;
    background-color: white; 
    height: 1.5px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.header__link:hover::after {
    width: 100%;
}
.portfolio__section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio__section1{
    height: 770px;
    width : 100%;
    flex-direction: column;
}
.main__section1__h1 , .main__section1__p , .main__section1--star1 ,.main__section1--star2{
    display: block;
    font-size: 80px;
    margin: 0;
    color:transparent;
    background-image: linear-gradient(to right, #fff, #d8ceced3 , #ffffffbe, #09090989 , #ffffff9f ,   #fff);
    -webkit-background-clip: text;
    animation: header-animation 12s linear infinite;
    background-size: 1000%;
}
@keyframes header-animation{
    0%{
        background-position: 0% 100%;
    }
    50%{
        background-position: 100% 0%;
    }
    100%{
        background-position: 0% 100%;
    }
}
.main__section1__p{
    padding-top: 20px ;
    font-size: 25px;
}

.main__section1--star1{
    margin-bottom: 20px;
    margin-left:800px;
    font-size: 35px;
}
.About-me-arrow-container{
    position: relative;
    border: 2px white solid;
    border-radius: 30px;
    height: 70px;
    width: 50px;
    bottom: -130px;
}
.About-me-arrow {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 70%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 20px; 
    height: 40px;
}

.About-me-arrow-first {
    animation: arrow-movement 1.5s ease-in-out infinite;
}
.About-me-arrow-second {
    animation: arrow-movement 1.5s 2s ease-in-out infinite;
}

.About-me-arrow:before,
.About-me-arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px; 
    position: absolute;
    top: 5px;
    left: 0;
    width: 20px;
}

.About-me-arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.About-me-arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}
@keyframes arrow-movement {
    0% { 
        opacity: 0;
        top: 45%;
    }
    70% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}

.portfolio__section2{
    flex-direction: row;
    height: 400px;
    width : 100%;
}
.main__section2__img{   
    margin:0;
    padding:0;
    margin-right : 50px; 
    opacity:1;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(255, 226, 246, 0.878);
 }
 .main__section2__img:hover{   
    opacity: 0.7;
    box-shadow: 0 0 12px rgba(252, 234, 246, 0.926);
 }

.main__section2__p{
    border: 2px rgba(255, 226, 246, 0.878) solid;
    margin:0;
    margin-left : 100px; 
    padding: 15px 30px;
    line-height: 1.5em;
    position: relative;
}
.portfolio__section3{
    flex-direction: column;
    height: 500px;
    width : 100%;
}
.main__section3__ul{
    list-style-type: circle;
    width: 100%;
}
.main__section3__ul li{ 
    display: inline-block;
    box-sizing: border-box;
    width: 32%;
    padding-top:20px;
    line-height: 40px;
    animation: none; 
    scroll-margin-top: 5vh; /* Adjust this value to control when the animation triggers */
}
.main__section3--star{
    position: relative;
    animation: animate 2s   linear infinite;
    animation-fill-mode: forwards;
    font-size: 20px;
    padding-right: 10px;
}

@keyframes animate{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

.portfolio__section4{
    flex-direction: column;
    width : 100%;
    color: black;
}
.main__section4--project{
    padding: 45px;
    flex-direction: row;
    border: 2px;
    border: 2px solid rgb(225, 234, 238);
    border-radius: 9px;
    background-color: white;
    box-shadow: 0 0 12px rgba(250, 215, 242, 0.795);
    margin-bottom: 70px;
    margin-top: 25px;
    width: 900px;
    height: 400px;
}
.main__section4--project:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 12px rgba(249, 233, 244, 0.807);
    width: 920px;
    height: 420px;
}
.main__section4--imagecontainer {
    display: flex;
    overflow: hidden;
    width:500px;
    height: 400px;
    margin-right: 20px;
    margin-top: 25px;
    padding: 0;
    align-items: center;
}
.main__section4--project__img{
    border-radius: 25px;
    padding-top: 0;
    opacity: 0;
    position: absolute;
    animation: fadeSlideshow 12s infinite;
    width: 480px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.592);
}
  
@keyframes fadeSlideshow {
    0%, 33.33% {
      opacity: 1;
    }
    66.66%, 100% {
      opacity: 0;
    }
}
  
.main__section4--imagecontainer img:nth-child(2) {
    animation-delay: 3s;
}
  
.main__section4--imagecontainer img:nth-child(3) {
    animation-delay: 6s;
}
.main__section4--imagecontainer img:nth-child(4) {
    animation-delay: 9s;
}

.main__section4--project__title{
    text-align: center;
    font-size: 30px;
}

.main__section4--project__p{
    width:100%;
    text-align: center;
}
.main__section4--project3__img{
    margin-left: 100px;
    width:280px;
    height: 410px;
}
.github-icon{
    margin: 20px 140px;
    font-size:30px;
    color: black;
}
.main__section5--contactcollection{
    flex-direction: row;
    width : 100%;
}
.main__section5--contactitems{
    display: inline;
    margin: 10px 20px;
    font-size:30px;
    text-decoration: none;
    color: white;
}
.portfolio__footer{
    flex-direction: column;
}
.footer__logo{
    border-radius: 120px;
    height: 280px;
    width: 280px;
    margin-bottom: 30px;
    margin-top: 30px;
}